@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@700&display=swap');
@import "tailwindcss";

@theme {
  --color-lavender-300: hsl(237, 18%, 59%);
  --color-pink-100: hsl(345, 95%, 68%);

  --color-white: hsl(0, 0%, 100%);
  --color-slate-700: hsl(236, 21%, 26%);
  --color-slate-800: hsl(235, 16%, 14%);
  --color-slate-900: hsl(234, 17%, 12%);

  --font-Red-Hat-Text: "Red Hat Text", sans-serif;
}